@font-face {
    font-family: 'GlacialIndifference';
    font-style: normal;
    font-weight: normal;
		src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
}

html {
	font-family: GlacialIndifference;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	text-align: center;
}

table {
	width: 100%;
}

/**
 * Cross-object element selectors. These selectors contain helpful rules.
 */

.nsl-full {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.nsl-label {
	color: white;
	text-align: center;
}

/*
 * NSL.view.collection selectors and rules.
 */

.nsl-collection-container {
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.nsl-collection {
  border-collapse: separate;
  border-spacing: 1px;
  display: table;
  position: absolute;
}

.nsl-collection-body {
  display: table-row-group;
}

.nsl-collection-cell {
  display: table-cell;
  padding: 5px;
  position: absolute;
  background: rgba( 33, 113, 181, 0.1 );
  box-sizing: border-box;
}

/*
 * NSL.view.dom.element.button selectors and rules.
 */

.nsl-element-button {
	background: rgba( 33, 113, 181, 1 );
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 1px;
	padding: 7px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nsl-element-button:hover {
	background: rgba( 8, 81, 156, 1 );
}

.nsl-element-button:active {
	background: rgba( 8, 48, 107, 1 );
}

/*
 * NSL.view.dom.structure.stage selectors and rules.
 */

.nsl-structure-stage {
	box-sizing: border-box;
	bottom: 0;
	display: flex;
	flex-flow: column;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.nsl-structure-stage-bottom,
.nsl-structure-stage-middle,
.nsl-structure-stage-top {
	display: flex;
}

.nsl-structure-stage-center,
.nsl-structure-stage-left,
.nsl-structure-stage-right {
	overflow-y: auto;
}

.nsl-structure-stage-center,
.nsl-structure-stage-middle {
	flex: 1;
}

.nsl-title {
	text-align: center;
}
